<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.osinergmin.prie.admin.backend.mapper.AdmCentralGeneracionMapper">
    <resultMap id="BaseResultMap" type="pe.gob.osinergmin.prie.admin.backend.domain.AdmCentralGeneracion">
        <!--@Table ADMIN_GART.ADM_CENTRAL_GENERACION-->
        <id column="COD_CENTRAL_GENERACION" jdbcType="CHAR" property="codCentralGeneracion"/>
        <result column="NOM_CENTRAL_GENERACION" jdbcType="VARCHAR" property="nomCentralGeneracion"/>
        <result column="COD_TIPO_CENTRAL" jdbcType="CHAR" property="codTipoCentral"/>
        <result column="COD_EMPRESA" jdbcType="CHAR" property="codEmpresa"/>
        <result column="COD_UBIGEO" jdbcType="CHAR" property="codUbigeo"/>
        <result column="ESTADO" jdbcType="CHAR" property="estado"/>
        <result column="TIPO" jdbcType="CHAR" property="tipo"/>
        <result column="AD_COD_USUARIO" jdbcType="VARCHAR" property="adCodUsuario"/>
        <result column="AD_FECHA" jdbcType="TIMESTAMP" property="adFecha"/>
        <result column="COD_COES" jdbcType="VARCHAR" property="codCoes"/>
        <result column="COD_CENTRAL_GENERACION_ANT" jdbcType="CHAR" property="codCentralGeneracionAnt"/>
    </resultMap>
    <sql id="Base_Column_List">
        COD_CENTRAL_GENERACION,
        NOM_CENTRAL_GENERACION,
        COD_TIPO_CENTRAL,
        COD_EMPRESA,
        COD_UBIGEO,
        ESTADO,
        TIPO,
        AD_COD_USUARIO,
        AD_FECHA,
        COD_COES,
        COD_CENTRAL_GENERACION_ANT
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ADMIN_GART.ADM_CENTRAL_GENERACION
        where TRIM(COD_CENTRAL_GENERACION) = TRIM(#{codCentralGeneracion,jdbcType=CHAR})
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from ADMIN_GART.ADM_CENTRAL_GENERACION
        where TRIM(COD_CENTRAL_GENERACION) = TRIM(#{codCentralGeneracion,jdbcType=CHAR})
    </delete>
    <insert id="insert" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmCentralGeneracion">
        insert into ADMIN_GART.ADM_CENTRAL_GENERACION (COD_CENTRAL_GENERACION, NOM_CENTRAL_GENERACION,
                                                       COD_TIPO_CENTRAL, COD_EMPRESA, COD_UBIGEO,
                                                       ESTADO, TIPO, AD_COD_USUARIO,
                                                       AD_FECHA, COD_COES, COD_CENTRAL_GENERACION_ANT)
        values (#{codCentralGeneracion,jdbcType=CHAR}, #{nomCentralGeneracion,jdbcType=VARCHAR},
                #{codTipoCentral,jdbcType=CHAR}, #{codEmpresa,jdbcType=CHAR}, #{codUbigeo,jdbcType=CHAR},
                #{estado,jdbcType=CHAR}, #{tipo,jdbcType=CHAR}, #{adCodUsuario,jdbcType=VARCHAR},
                #{adFecha,jdbcType=TIMESTAMP}, #{codCoes,jdbcType=VARCHAR}, #{codCentralGeneracionAnt,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmCentralGeneracion">
        insert into ADMIN_GART.ADM_CENTRAL_GENERACION
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codCentralGeneracion != null">
                COD_CENTRAL_GENERACION,
            </if>
            <if test="nomCentralGeneracion != null">
                NOM_CENTRAL_GENERACION,
            </if>
            <if test="codTipoCentral != null">
                COD_TIPO_CENTRAL,
            </if>
            <if test="codEmpresa != null">
                COD_EMPRESA,
            </if>
            <if test="codUbigeo != null">
                COD_UBIGEO,
            </if>
            <if test="estado != null">
                ESTADO,
            </if>
            <if test="tipo != null">
                TIPO,
            </if>
            <if test="adCodUsuario != null">
                AD_COD_USUARIO,
            </if>
            <if test="adFecha != null">
                AD_FECHA,
            </if>
            <if test="codCoes != null">
                COD_COES,
            </if>
            <if test="codCentralGeneracionAnt != null">
                COD_CENTRAL_GENERACION_ANT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codCentralGeneracion != null">
                #{codCentralGeneracion,jdbcType=CHAR},
            </if>
            <if test="nomCentralGeneracion != null">
                #{nomCentralGeneracion,jdbcType=VARCHAR},
            </if>
            <if test="codTipoCentral != null">
                #{codTipoCentral,jdbcType=CHAR},
            </if>
            <if test="codEmpresa != null">
                #{codEmpresa,jdbcType=CHAR},
            </if>
            <if test="codUbigeo != null">
                #{codUbigeo,jdbcType=CHAR},
            </if>
            <if test="estado != null">
                #{estado,jdbcType=CHAR},
            </if>
            <if test="tipo != null">
                #{tipo,jdbcType=CHAR},
            </if>
            <if test="adCodUsuario != null">
                #{adCodUsuario,jdbcType=VARCHAR},
            </if>
            <if test="adFecha != null">
                #{adFecha,jdbcType=TIMESTAMP},
            </if>
            <if test="codCoes != null">
                #{codCoes,jdbcType=VARCHAR},
            </if>
            <if test="codCentralGeneracionAnt != null">
                #{codCentralGeneracionAnt,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmCentralGeneracion">
        update ADMIN_GART.ADM_CENTRAL_GENERACION
        <set>
            <if test="nomCentralGeneracion != null">
                NOM_CENTRAL_GENERACION = #{nomCentralGeneracion,jdbcType=VARCHAR},
            </if>
            <if test="codTipoCentral != null">
                COD_TIPO_CENTRAL = #{codTipoCentral,jdbcType=CHAR},
            </if>
            <if test="codEmpresa != null">
                COD_EMPRESA = #{codEmpresa,jdbcType=CHAR},
            </if>
            <if test="codUbigeo != null">
                COD_UBIGEO = #{codUbigeo,jdbcType=CHAR},
            </if>
            <if test="estado != null">
                ESTADO = #{estado,jdbcType=CHAR},
            </if>
            <if test="tipo != null">
                TIPO = #{tipo,jdbcType=CHAR},
            </if>
            <if test="adCodUsuario != null">
                AD_COD_USUARIO = #{adCodUsuario,jdbcType=VARCHAR},
            </if>
            <if test="adFecha != null">
                AD_FECHA = #{adFecha,jdbcType=TIMESTAMP},
            </if>
            <if test="codCoes != null">
                COD_COES = #{codCoes,jdbcType=VARCHAR},
            </if>
            <if test="codCentralGeneracionAnt != null">
                COD_CENTRAL_GENERACION_ANT = #{codCentralGeneracionAnt,jdbcType=CHAR},
            </if>
        </set>
        where COD_CENTRAL_GENERACION = #{codCentralGeneracion,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmCentralGeneracion">
        update ADMIN_GART.ADM_CENTRAL_GENERACION
        set NOM_CENTRAL_GENERACION     = #{nomCentralGeneracion,jdbcType=VARCHAR},
            COD_TIPO_CENTRAL           = #{codTipoCentral,jdbcType=CHAR},
            COD_EMPRESA                = #{codEmpresa,jdbcType=CHAR},
            COD_UBIGEO                 = #{codUbigeo,jdbcType=CHAR},
            ESTADO                     = #{estado,jdbcType=CHAR},
            TIPO                       = #{tipo,jdbcType=CHAR},
            AD_COD_USUARIO             = #{adCodUsuario,jdbcType=VARCHAR},
            AD_FECHA                   = #{adFecha,jdbcType=TIMESTAMP},
            COD_COES                   = #{codCoes,jdbcType=VARCHAR},
            COD_CENTRAL_GENERACION_ANT = #{codCentralGeneracionAnt,jdbcType=CHAR}
        where trim(COD_CENTRAL_GENERACION) = TRIM(#{codCentralGeneracion,jdbcType=CHAR})
    </update>

    <resultMap id="GrupoGeneracionDTO" type="pe.gob.osinergmin.prie.admin.backend.dto.grupoGeneracion.AdmGrupoGeneracionDTO">
        <result column="COD_GRUPO_GENERACION" jdbcType="CHAR" property="codGrupoGeneracion"/>
        <result column="NOM_GRUPO_GENERACION" jdbcType="VARCHAR" property="nomGrupoGeneracion"/>
        <result column="COD_TIPO_COMBUSTIBLE" jdbcType="CHAR" property="codTipoCombustible"/>
        <result column="COD_CENTRAL_GENERACION" jdbcType="CHAR" property="codCentralGeneracion"/>
        <result column="ESTADO" jdbcType="CHAR" property="estado"/>
        <result column="FEC_ALTA" jdbcType="TIMESTAMP" property="fecAlta"/>
        <result column="FEC_BAJA" jdbcType="TIMESTAMP" property="fecBaja"/>
        <result column="COD_COES" jdbcType="VARCHAR" property="codCoes"/>
        <result column="COD_GRUPO_GENERACION_ANT" jdbcType="CHAR" property="codGrupoGeneracionAnt"/>
    </resultMap>

    <resultMap id="DTO" type="pe.gob.osinergmin.prie.admin.backend.dto.centralGeneracion.AdmCentralGeneracionDTO">
        <!--@Table ADMIN_GART.ADM_CENTRAL_GENERACION-->
        <result column="COD_CENTRAL_GENERACION" jdbcType="CHAR" property="codCentralGeneracion"/>
        <result column="NOM_CENTRAL_GENERACION" jdbcType="VARCHAR" property="nomCentralGeneracion"/>
        <result column="COD_TIPO_CENTRAL" jdbcType="CHAR" property="codTipoCentral"/>
        <result column="NOM_TIPO_CENTRAL" jdbcType="VARCHAR" property="nomTipoCentral"/>
        <result column="COD_EMPRESA" jdbcType="CHAR" property="codEmpresa"/>
        <result column="NOM_EMPRESA" jdbcType="VARCHAR" property="nomEmpresa"/>
        <result column="COD_UBIGEO" jdbcType="CHAR" property="codUbigeo"/>
        <result column="NOM_DISTRITO" jdbcType="VARCHAR" property="nomDistrito"/>
        <result column="ESTADO" jdbcType="CHAR" property="estado"/>
        <result column="TIPO" jdbcType="CHAR" property="tipo"/>
        <result column="COD_PROVINCIA" jdbcType="CHAR" property="codProvincia"/>
        <result column="NOM_PROVINCIA" jdbcType="VARCHAR" property="nomProvincia"/>
        <result column="COD_DEPARTAMENTO" jdbcType="CHAR" property="codDepartamento"/>
        <result column="NOM_DEPARTAMENTO" jdbcType="VARCHAR" property="nomDepartamento"/>
    </resultMap>

    <select id="selectAll" resultMap="DTO">
        select COD_CENTRAL_GENERACION,
               NOM_CENTRAL_GENERACION,
               COD_TIPO_CENTRAL,
               COD_EMPRESA,
               COD_UBIGEO,
               ESTADO,
               TIPO
        from ADMIN_GART.ADM_CENTRAL_GENERACION
    </select>

    <select id="filtro" resultMap="DTO">
        SELECT
        COD_CENTRAL_GENERACION,
        NOM_CENTRAL_GENERACION,
        C.COD_TIPO_CENTRAL,
        T.NOM_TIPO_CENTRAL,
        C.COD_EMPRESA,
        E.DSC_CORTA_EMPRESA AS NOM_EMPRESA,
        C.COD_UBIGEO,
        C.ESTADO,
        C.TIPO,
        SUBSTR(C.COD_UBIGEO, 1, 4) || '00' AS COD_PROVINCIA,
        (SELECT NOM_UBIGEO FROM ADMIN_GART.ADM_UBIGEO WHERE COD_UBIGEO = SUBSTR(C.COD_UBIGEO, 1, 4) || '00' AND ROWNUM = 1) AS NOM_PROVINCIA,
        SUBSTR(C.COD_UBIGEO, 1, 2) || '0000' AS COD_DEPARTAMENTO,
        (SELECT NOM_UBIGEO FROM ADMIN_GART.ADM_UBIGEO WHERE COD_UBIGEO = SUBSTR(C.COD_UBIGEO, 1, 2) || '0000' AND ROWNUM = 1) AS NOM_DEPARTAMENTO,
        (SELECT NOM_UBIGEO FROM ADMIN_GART.ADM_UBIGEO WHERE COD_UBIGEO = C.COD_UBIGEO AND ROWNUM = 1) AS NOM_DISTRITO
        FROM
        ADMIN_GART.ADM_CENTRAL_GENERACION C
        LEFT JOIN
        ADMIN_GART.ADM_TIPO_CENTRAL T ON C.COD_TIPO_CENTRAL = T.COD_TIPO_CENTRAL
        LEFT JOIN
        ADMIN_GART.ADM_EMPRESA E ON C.COD_EMPRESA = E.COD_EMPRESA
        WHERE
        1 = 1
        <if test="codCentralGeneracion != null and codCentralGeneracion != ''">
            AND UPPER(TRANSLATE(C.COD_CENTRAL_GENERACION, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN'))
            LIKE '%' || UPPER(TRANSLATE(#{codCentralGeneracion}, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN')) || '%'
        </if>
        <if test="nomCentralGeneracion != null and nomCentralGeneracion != ''">
            AND UPPER(TRANSLATE(C.NOM_CENTRAL_GENERACION, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN'))
            LIKE '%' || UPPER(TRANSLATE(#{nomCentralGeneracion}, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN')) || '%'
        </if>
        <if test="codTipoCentral != null and codTipoCentral != ''">
            AND UPPER(TRANSLATE(C.COD_TIPO_CENTRAL, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN'))
            LIKE '%' || UPPER(TRANSLATE(#{codTipoCentral}, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN')) || '%'
        </if>
        <if test="estado != null and estado != ''">
            AND UPPER(TRANSLATE(C.ESTADO, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN'))
            LIKE '%' || UPPER(TRANSLATE(#{estado}, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN')) || '%'
        </if>
        <if test="sort != null and sort != ''">
            ORDER BY ${sort} ${order}
        </if>
    </select>

    <select id="selectByCodEmpresa" parameterType="String" resultMap="DTO">
        SELECT *
        FROM ADMIN_GART.ADM_CENTRAL_GENERACION
        WHERE trim(COD_EMPRESA) = trim (#{codEmpresa})
    </select>

</mapper>