<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.osinergmin.prie.admin.backend.mapper.AdmGrupoCombustibleMapper">
    <resultMap id="BaseResultMap" type="pe.gob.osinergmin.prie.admin.backend.domain.AdmGrupoCombustible">
        <!--@Table ADMIN_GART.ADM_GRUPO_COMBUSTIBLE-->
        <id column="COD_GRUPO_COMBUSTIBLE" jdbcType="CHAR" property="codGrupoCombustible"/>
        <result column="NOM_GRUPO_COMBUSTIBLE" jdbcType="VARCHAR" property="nomGrupoCombustible"/>
        <result column="ESTADO" jdbcType="CHAR" property="estado"/>
        <result column="AD_COD_USUARIO" jdbcType="VARCHAR" property="adCodUsuario"/>
        <result column="AD_FECHA" jdbcType="TIMESTAMP" property="adFecha"/>
    </resultMap>
    <sql id="Base_Column_List">
        COD_GRUPO_COMBUSTIBLE,
        NOM_GRUPO_COMBUSTIBLE,
        ESTADO,
        AD_COD_USUARIO,
        AD_FECHA
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ADMIN_GART.ADM_GRUPO_COMBUSTIBLE
        where trim(COD_GRUPO_COMBUSTIBLE) = trim(#{codGrupoCombustible,jdbcType=CHAR})
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from ADMIN_GART.ADM_GRUPO_COMBUSTIBLE
        where trim(COD_GRUPO_COMBUSTIBLE) = trim(#{codGrupoCombustible,jdbcType=CHAR})
    </delete>
    <insert id="insert" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmGrupoCombustible">
        insert into ADMIN_GART.ADM_GRUPO_COMBUSTIBLE (COD_GRUPO_COMBUSTIBLE, NOM_GRUPO_COMBUSTIBLE,
                                                      ESTADO, AD_COD_USUARIO, AD_FECHA)
        values (#{codGrupoCombustible,jdbcType=CHAR}, #{nomGrupoCombustible,jdbcType=VARCHAR},
                #{estado,jdbcType=CHAR}, #{adCodUsuario,jdbcType=VARCHAR}, #{adFecha,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmGrupoCombustible">
        insert into ADMIN_GART.ADM_GRUPO_COMBUSTIBLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codGrupoCombustible != null">
                COD_GRUPO_COMBUSTIBLE,
            </if>
            <if test="nomGrupoCombustible != null">
                NOM_GRUPO_COMBUSTIBLE,
            </if>
            <if test="estado != null">
                ESTADO,
            </if>
            <if test="adCodUsuario != null">
                AD_COD_USUARIO,
            </if>
            <if test="adFecha != null">
                AD_FECHA,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codGrupoCombustible != null">
                #{codGrupoCombustible,jdbcType=CHAR},
            </if>
            <if test="nomGrupoCombustible != null">
                #{nomGrupoCombustible,jdbcType=VARCHAR},
            </if>
            <if test="estado != null">
                #{estado,jdbcType=CHAR},
            </if>
            <if test="adCodUsuario != null">
                #{adCodUsuario,jdbcType=VARCHAR},
            </if>
            <if test="adFecha != null">
                #{adFecha,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmGrupoCombustible">
        update ADMIN_GART.ADM_GRUPO_COMBUSTIBLE
        <set>
            <if test="nomGrupoCombustible != null">
                NOM_GRUPO_COMBUSTIBLE = #{nomGrupoCombustible,jdbcType=VARCHAR},
            </if>
            <if test="estado != null">
                ESTADO = #{estado,jdbcType=CHAR},
            </if>
            <if test="adCodUsuario != null">
                AD_COD_USUARIO = #{adCodUsuario,jdbcType=VARCHAR},
            </if>
            <if test="adFecha != null">
                AD_FECHA = #{adFecha,jdbcType=TIMESTAMP},
            </if>
        </set>
        where COD_GRUPO_COMBUSTIBLE = #{codGrupoCombustible,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmGrupoCombustible">
        update ADMIN_GART.ADM_GRUPO_COMBUSTIBLE
        set NOM_GRUPO_COMBUSTIBLE = #{nomGrupoCombustible,jdbcType=VARCHAR},
            ESTADO                = #{estado,jdbcType=CHAR},
            AD_COD_USUARIO        = #{adCodUsuario,jdbcType=VARCHAR},
            AD_FECHA              = #{adFecha,jdbcType=TIMESTAMP}
        where trim(COD_GRUPO_COMBUSTIBLE) = trim(#{codGrupoCombustible,jdbcType=CHAR})
    </update>

    <resultMap id="BaseResultMapDTO"
               type="pe.gob.osinergmin.prie.admin.backend.dto.grupoCombustible.AdmGrupoCombustibleDTO">
        <!--@Table ADMIN_GART.ADM_GRUPO_COMBUSTIBLE-->
        <id column="COD_GRUPO_COMBUSTIBLE" jdbcType="CHAR" property="codGrupoCombustible"/>
        <result column="NOM_GRUPO_COMBUSTIBLE" jdbcType="VARCHAR" property="nomGrupoCombustible"/>
        <result column="ESTADO" jdbcType="CHAR" property="estado"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMapDTO">
        select COD_GRUPO_COMBUSTIBLE,
               NOM_GRUPO_COMBUSTIBLE,
               ESTADO
        from ADMIN_GART.ADM_GRUPO_COMBUSTIBLE
        WHERE ESTADO = '1'
    </select>

    <select id="filtrar" resultMap="BaseResultMapDTO">
        SELECT COD_GRUPO_COMBUSTIBLE,
               NOM_GRUPO_COMBUSTIBLE,
               ESTADO
        FROM ADMIN_GART.ADM_GRUPO_COMBUSTIBLE
        WHERE 1 = 1
        <if test="codGrupoCombustible != null and codGrupoCombustible != ''">
            AND UPPER(TRANSLATE(COD_GRUPO_COMBUSTIBLE, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN'))
                LIKE '%' || UPPER(TRANSLATE(#{codGrupoCombustible}, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN')) || '%'
        </if>
        <if test="nomGrupoCombustible != null and nomGrupoCombustible != ''">
            AND UPPER(TRANSLATE(NOM_GRUPO_COMBUSTIBLE, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN'))
                LIKE '%' || UPPER(TRANSLATE(#{nomGrupoCombustible}, 'ÁÉÍÓÚÀÈÌÒÙÄËÏÖÜÑ', 'AEIOUAEIOUAEIOUN')) || '%'
        </if>
        <if test="estado != null and estado != ''">
            AND UPPER(ESTADO) LIKE '%' || UPPER(#{estado}) || '%'
        </if>
        <if test="sort != null and sort != '' and order != null and order != ''">
            ORDER BY ${sort} ${order}
        </if>
    </select>
</mapper>