<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.osinergmin.prie.admin.backend.mapper.AdmProcSectorTipicoMapper">
  <resultMap id="BaseResultMap" type="pe.gob.osinergmin.prie.admin.backend.domain.AdmProcSectorTipico">
    <!--@Table ADMIN_GART.ADM_PROC_SECTOR_TIPICO-->
    <id column="COD_SECTOR_TIPICO" jdbcType="CHAR" property="codSectorTipico" />
    <id column="COD_PROC_SUPERVISION" jdbcType="CHAR" property="codProcSupervision" />
    <result column="OBSERVACIONES" jdbcType="VARCHAR" property="observaciones" />
    <result column="ESTADO_REGISTRO" jdbcType="CHAR" property="estadoRegistro" />
    <result column="USUARIO_CREACION" jdbcType="VARCHAR" property="usuarioCreacion" />
    <result column="TERMINAL_CREACION" jdbcType="VARCHAR" property="terminalCreacion" />
    <result column="FECHA_CREACION" jdbcType="TIMESTAMP" property="fechaCreacion" />
    <result column="USUARIO_ACTUALIZACION" jdbcType="VARCHAR" property="usuarioActualizacion" />
    <result column="TERMINAL_ACTUALIZACION" jdbcType="VARCHAR" property="terminalActualizacion" />
    <result column="FECHA_ACTUALIZACION" jdbcType="TIMESTAMP" property="fechaActualizacion" />
  </resultMap>
  <sql id="Base_Column_List">
    COD_SECTOR_TIPICO, COD_PROC_SUPERVISION, OBSERVACIONES, ESTADO_REGISTRO, USUARIO_CREACION, 
    TERMINAL_CREACION, FECHA_CREACION, USUARIO_ACTUALIZACION, TERMINAL_ACTUALIZACION, 
    FECHA_ACTUALIZACION
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ADMIN_GART.ADM_PROC_SECTOR_TIPICO
    where COD_SECTOR_TIPICO = #{codSectorTipico,jdbcType=CHAR}
      and COD_PROC_SUPERVISION = #{codProcSupervision,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from ADMIN_GART.ADM_PROC_SECTOR_TIPICO
    where COD_SECTOR_TIPICO = #{codSectorTipico,jdbcType=CHAR}
      and COD_PROC_SUPERVISION = #{codProcSupervision,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmProcSectorTipico">
    insert into ADMIN_GART.ADM_PROC_SECTOR_TIPICO (COD_SECTOR_TIPICO, COD_PROC_SUPERVISION, OBSERVACIONES, 
      ESTADO_REGISTRO, USUARIO_CREACION, TERMINAL_CREACION, 
      FECHA_CREACION, USUARIO_ACTUALIZACION, 
      TERMINAL_ACTUALIZACION, FECHA_ACTUALIZACION
      )
    values (#{codSectorTipico,jdbcType=CHAR}, #{codProcSupervision,jdbcType=CHAR}, #{observaciones,jdbcType=VARCHAR}, 
      #{estadoRegistro,jdbcType=CHAR}, #{usuarioCreacion,jdbcType=VARCHAR}, #{terminalCreacion,jdbcType=VARCHAR}, 
      #{fechaCreacion,jdbcType=TIMESTAMP}, #{usuarioActualizacion,jdbcType=VARCHAR}, 
      #{terminalActualizacion,jdbcType=VARCHAR}, #{fechaActualizacion,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmProcSectorTipico">
    insert into ADMIN_GART.ADM_PROC_SECTOR_TIPICO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codSectorTipico != null">
        COD_SECTOR_TIPICO,
      </if>
      <if test="codProcSupervision != null">
        COD_PROC_SUPERVISION,
      </if>
      <if test="observaciones != null">
        OBSERVACIONES,
      </if>
      <if test="estadoRegistro != null">
        ESTADO_REGISTRO,
      </if>
      <if test="usuarioCreacion != null">
        USUARIO_CREACION,
      </if>
      <if test="terminalCreacion != null">
        TERMINAL_CREACION,
      </if>
      <if test="fechaCreacion != null">
        FECHA_CREACION,
      </if>
      <if test="usuarioActualizacion != null">
        USUARIO_ACTUALIZACION,
      </if>
      <if test="terminalActualizacion != null">
        TERMINAL_ACTUALIZACION,
      </if>
      <if test="fechaActualizacion != null">
        FECHA_ACTUALIZACION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codSectorTipico != null">
        #{codSectorTipico,jdbcType=CHAR},
      </if>
      <if test="codProcSupervision != null">
        #{codProcSupervision,jdbcType=CHAR},
      </if>
      <if test="observaciones != null">
        #{observaciones,jdbcType=VARCHAR},
      </if>
      <if test="estadoRegistro != null">
        #{estadoRegistro,jdbcType=CHAR},
      </if>
      <if test="usuarioCreacion != null">
        #{usuarioCreacion,jdbcType=VARCHAR},
      </if>
      <if test="terminalCreacion != null">
        #{terminalCreacion,jdbcType=VARCHAR},
      </if>
      <if test="fechaCreacion != null">
        #{fechaCreacion,jdbcType=TIMESTAMP},
      </if>
      <if test="usuarioActualizacion != null">
        #{usuarioActualizacion,jdbcType=VARCHAR},
      </if>
      <if test="terminalActualizacion != null">
        #{terminalActualizacion,jdbcType=VARCHAR},
      </if>
      <if test="fechaActualizacion != null">
        #{fechaActualizacion,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmProcSectorTipico">
    update ADMIN_GART.ADM_PROC_SECTOR_TIPICO
    <set>
      <if test="observaciones != null">
        OBSERVACIONES = #{observaciones,jdbcType=VARCHAR},
      </if>
      <if test="estadoRegistro != null">
        ESTADO_REGISTRO = #{estadoRegistro,jdbcType=CHAR},
      </if>
      <if test="usuarioCreacion != null">
        USUARIO_CREACION = #{usuarioCreacion,jdbcType=VARCHAR},
      </if>
      <if test="terminalCreacion != null">
        TERMINAL_CREACION = #{terminalCreacion,jdbcType=VARCHAR},
      </if>
      <if test="fechaCreacion != null">
        FECHA_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
      </if>
      <if test="usuarioActualizacion != null">
        USUARIO_ACTUALIZACION = #{usuarioActualizacion,jdbcType=VARCHAR},
      </if>
      <if test="terminalActualizacion != null">
        TERMINAL_ACTUALIZACION = #{terminalActualizacion,jdbcType=VARCHAR},
      </if>
      <if test="fechaActualizacion != null">
        FECHA_ACTUALIZACION = #{fechaActualizacion,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COD_SECTOR_TIPICO = #{codSectorTipico,jdbcType=CHAR}
      and COD_PROC_SUPERVISION = #{codProcSupervision,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmProcSectorTipico">
    update ADMIN_GART.ADM_PROC_SECTOR_TIPICO
    set OBSERVACIONES = #{observaciones,jdbcType=VARCHAR},
      ESTADO_REGISTRO = #{estadoRegistro,jdbcType=CHAR},
      USUARIO_CREACION = #{usuarioCreacion,jdbcType=VARCHAR},
      TERMINAL_CREACION = #{terminalCreacion,jdbcType=VARCHAR},
      FECHA_CREACION = #{fechaCreacion,jdbcType=TIMESTAMP},
      USUARIO_ACTUALIZACION = #{usuarioActualizacion,jdbcType=VARCHAR},
      TERMINAL_ACTUALIZACION = #{terminalActualizacion,jdbcType=VARCHAR},
      FECHA_ACTUALIZACION = #{fechaActualizacion,jdbcType=TIMESTAMP}
    where COD_SECTOR_TIPICO = #{codSectorTipico,jdbcType=CHAR}
      and COD_PROC_SUPERVISION = #{codProcSupervision,jdbcType=CHAR}
  </update>

  <delete id="borrarPorCodProcesoSupervisor">
    delete from ADMIN_GART.ADM_PROC_SECTOR_TIPICO
    where trim(COD_PROC_SUPERVISION) = trim(#{codProcSupervision,jdbcType=CHAR})
    </delete>
</mapper>