<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.osinergmin.prie.admin.backend.mapper.AdmUitMapper">
  <resultMap id="BaseResultMap" type="pe.gob.osinergmin.prie.admin.backend.domain.AdmUit">
    <!--@Table ADMIN_GART.ADM_UIT-->
    <id column="ANIO_MES" jdbcType="VARCHAR" property="anioMes" />
    <result column="VALOR" jdbcType="DECIMAL" property="valor" />
    <result column="AD_COD_USUARIO" jdbcType="VARCHAR" property="adCodUsuario" />
    <result column="AD_FECHA" jdbcType="TIMESTAMP" property="adFecha" />
  </resultMap>
  <sql id="Base_Column_List">
    ANIO_MES, VALOR, AD_COD_USUARIO, AD_FECHA
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ADMIN_GART.ADM_UIT
    where ANIO_MES = #{anioMes,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ADMIN_GART.ADM_UIT
    where ANIO_MES = #{anioMes,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmUit">
    insert into ADMIN_GART.ADM_UIT (ANIO_MES, VALOR, AD_COD_USUARIO, AD_FECHA)
    values (#{anioMes,jdbcType=VARCHAR}, #{valor,jdbcType=DECIMAL}, #{adCodUsuario,jdbcType=VARCHAR}, #{adFecha,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmUit">
    insert into ADMIN_GART.ADM_UIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="anioMes != null">
        ANIO_MES,
      </if>
      <if test="valor != null">
        VALOR,
      </if>
      <if test="adCodUsuario != null">
        AD_COD_USUARIO,
      </if>
      <if test="adFecha != null">
        AD_FECHA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="anioMes != null">
        #{anioMes,jdbcType=VARCHAR},
      </if>
      <if test="valor != null">
        #{valor,jdbcType=DECIMAL},
      </if>
      <if test="adCodUsuario != null">
        #{adCodUsuario,jdbcType=VARCHAR},
      </if>
      <if test="adFecha != null">
        #{adFecha,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmUit">
    update ADMIN_GART.ADM_UIT
    <set>
      <if test="valor != null">
        VALOR = #{valor,jdbcType=DECIMAL},
      </if>
      <if test="adCodUsuario != null">
        AD_COD_USUARIO = #{adCodUsuario,jdbcType=VARCHAR},
      </if>
      <if test="adFecha != null">
        AD_FECHA = #{adFecha,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ANIO_MES = #{anioMes,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmUit">
    update ADMIN_GART.ADM_UIT
    set VALOR = #{valor,jdbcType=DECIMAL},
      AD_FECHA = #{adFecha,jdbcType=TIMESTAMP}
    where ANIO_MES = #{anioMes,jdbcType=VARCHAR}
  </update>

  <resultMap id="BaseResultMapDTO" type="pe.gob.osinergmin.prie.admin.backend.dto.admUit.AdmUitDTO">
    <result column="ANIO_MES" jdbcType="VARCHAR" property="anioMes" />
    <result column="VALOR" jdbcType="INTEGER" property="valor" />
    <result column="AD_FECHA" jdbcType="INTEGER" property="adFecha" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMapDTO">
    SELECT ANIO_MES, VALOR, AD_FECHA  FROM ADMIN_GART.ADM_UIT
  </select>

  <select id="listarFiltro" resultMap="BaseResultMapDTO">
    SELECT ANIO_MES, VALOR, AD_FECHA  FROM ADMIN_GART.ADM_UIT
    WHERE 1=1
    <if test="anioMes != null and anioMes != ''">
    AND UPPER(ANIO_MES) LIKE '%'|| UPPER(#{anioMes}) || '%'
    </if>
  </select>
</mapper>