<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.osinergmin.prie.admin.backend.mapper.AdmUsuarioLibreMapper">
  <resultMap id="BaseResultMap" type="pe.gob.osinergmin.prie.admin.backend.domain.AdmUsuarioLibre">
    <!-- @Table ADMIN_GART.ADM_USUARIO_LIBRE -->
    <result column="COD_USUARIO_LIBRE" jdbcType="CHAR" property="codUsuarioLibre" />
    <result column="RAZON_SOCIAL" jdbcType="VARCHAR" property="razonSocial" />
    <result column="DIRECCION" jdbcType="VARCHAR" property="direccion" />
    <result column="TELEFONO" jdbcType="VARCHAR" property="telefono" />
    <result column="NOMBRE_REP_LEGAL" jdbcType="VARCHAR" property="nombreRepLegal" />
    <result column="CARGO_REP_LEG" jdbcType="VARCHAR" property="cargoRepLeg" />
    <result column="TELEFONO_REP_LEG" jdbcType="VARCHAR" property="telefonoRepLeg" />
    <result column="CORREO_REP_LEG" jdbcType="VARCHAR" property="correoRepLeg" />
    <result column="ES_GRAN_CLIENTE" jdbcType="CHAR" property="esGranCliente" />
    <result column="COD_COES" jdbcType="VARCHAR" property="codCoes" />
    <result column="COD_USUARIO_LIBRE_ANT" jdbcType="CHAR" property="codUsuarioLibreAnt" />
  </resultMap>

  <sql id="Base_Column_List">
    COD_USUARIO_LIBRE, RAZON_SOCIAL, DIRECCION, TELEFONO, NOMBRE_REP_LEGAL, CARGO_REP_LEG,
    TELEFONO_REP_LEG, CORREO_REP_LEG, ES_GRAN_CLIENTE, COD_COES, COD_USUARIO_LIBRE_ANT
  </sql>

  <insert id="insert" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmUsuarioLibre">
    insert into ADMIN_GART.ADM_USUARIO_LIBRE (COD_USUARIO_LIBRE, RAZON_SOCIAL, DIRECCION,
    TELEFONO, NOMBRE_REP_LEGAL, CARGO_REP_LEG,
    TELEFONO_REP_LEG, CORREO_REP_LEG, ES_GRAN_CLIENTE,
    COD_COES, COD_USUARIO_LIBRE_ANT)
    values (#{codUsuarioLibre,jdbcType=CHAR}, #{razonSocial,jdbcType=VARCHAR}, #{direccion,jdbcType=VARCHAR},
    #{telefono,jdbcType=VARCHAR}, #{nombreRepLegal,jdbcType=VARCHAR}, #{cargoRepLeg,jdbcType=VARCHAR},
    #{telefonoRepLeg,jdbcType=VARCHAR}, #{correoRepLeg,jdbcType=VARCHAR}, #{esGranCliente,jdbcType=CHAR},
    #{codCoes,jdbcType=VARCHAR}, #{codUsuarioLibreAnt,jdbcType=CHAR})
  </insert>

  <insert id="insertSelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmUsuarioLibre">
    insert into ADMIN_GART.ADM_USUARIO_LIBRE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codUsuarioLibre != null">
        COD_USUARIO_LIBRE,
      </if>
      <if test="razonSocial != null">
        RAZON_SOCIAL,
      </if>
      <if test="direccion != null">
        DIRECCION,
      </if>
      <if test="telefono != null">
        TELEFONO,
      </if>
      <if test="nombreRepLegal != null">
        NOMBRE_REP_LEGAL,
      </if>
      <if test="cargoRepLeg != null">
        CARGO_REP_LEG,
      </if>
      <if test="telefonoRepLeg != null">
        TELEFONO_REP_LEG,
      </if>
      <if test="correoRepLeg != null">
        CORREO_REP_LEG,
      </if>
      <if test="esGranCliente != null">
        ES_GRAN_CLIENTE,
      </if>
      <if test="codCoes != null">
        COD_COES,
      </if>
      <if test="codUsuarioLibreAnt != null">
        COD_USUARIO_LIBRE_ANT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codUsuarioLibre != null">
        #{codUsuarioLibre,jdbcType=CHAR},
      </if>
      <if test="razonSocial != null">
        #{razonSocial,jdbcType=VARCHAR},
      </if>
      <if test="direccion != null">
        #{direccion,jdbcType=VARCHAR},
      </if>
      <if test="telefono != null">
        #{telefono,jdbcType=VARCHAR},
      </if>
      <if test="nombreRepLegal != null">
        #{nombreRepLegal,jdbcType=VARCHAR},
      </if>
      <if test="cargoRepLeg != null">
        #{cargoRepLeg,jdbcType=VARCHAR},
      </if>
      <if test="telefonoRepLeg != null">
        #{telefonoRepLeg,jdbcType=VARCHAR},
      </if>
      <if test="correoRepLeg != null">
        #{correoRepLeg,jdbcType=VARCHAR},
      </if>
      <if test="esGranCliente != null">
        #{esGranCliente,jdbcType=CHAR},
      </if>
      <if test="codCoes != null">
        #{codCoes,jdbcType=VARCHAR},
      </if>
      <if test="codUsuarioLibreAnt != null">
        #{codUsuarioLibreAnt,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ADMIN_GART.ADM_USUARIO_LIBRE
    where TRIM(COD_USUARIO_LIBRE) = TRIM(#{codUsuarioLibre,jdbcType=CHAR})
  </select>

  <update id="updateByPrimaryKey" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.AdmUsuarioLibre">
    update ADMIN_GART.ADM_USUARIO_LIBRE
    set
    RAZON_SOCIAL = #{razonSocial,jdbcType=VARCHAR},
    DIRECCION = #{direccion,jdbcType=VARCHAR},
    TELEFONO =  #{telefono,jdbcType=VARCHAR},
    NOMBRE_REP_LEGAL = #{nombreRepLegal,jdbcType=VARCHAR},
    CARGO_REP_LEG = #{cargoRepLeg,jdbcType=VARCHAR},
    TELEFONO_REP_LEG = #{telefonoRepLeg,jdbcType=VARCHAR},
    CORREO_REP_LEG = #{correoRepLeg,jdbcType=VARCHAR},
    ES_GRAN_CLIENTE = #{esGranCliente,jdbcType=CHAR},
    COD_COES = #{codCoes,jdbcType=VARCHAR},
    COD_USUARIO_LIBRE_ANT = #{codUsuarioLibreAnt,jdbcType=CHAR}
    where TRIM(COD_USUARIO_LIBRE) = TRIM(#{codUsuarioLibre,jdbcType=CHAR})
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ADMIN_GART.ADM_USUARIO_LIBRE
    where TRIM(COD_USUARIO_LIBRE) = TRIM(#{codUsuarioLibre,jdbcType=CHAR})
  </delete>

  <resultMap id="BaseResultMapDTO" type="pe.gob.osinergmin.prie.admin.backend.dto.usuarioLibre.AdmUsuarioLibreDTO">
    <result column="COD_USUARIO_LIBRE" jdbcType="CHAR" property="codUsuarioLibre" />
    <result column="RAZON_SOCIAL" jdbcType="VARCHAR" property="razonSocial" />
    <result column="DIRECCION" jdbcType="VARCHAR" property="direccion" />
    <result column="TELEFONO" jdbcType="VARCHAR" property="telefono" />
    <result column="NOMBRE_REP_LEGAL" jdbcType="VARCHAR" property="nombreRepLegal" />
    <result column="CARGO_REP_LEG" jdbcType="VARCHAR" property="cargoRepLeg" />
    <result column="TELEFONO_REP_LEG" jdbcType="VARCHAR" property="telefonoRepLeg" />
    <result column="CORREO_REP_LEG" jdbcType="VARCHAR" property="correoRepLeg" />
    <result column="ES_GRAN_CLIENTE" jdbcType="CHAR" property="esGranCliente" />
    <result column="COD_COES" jdbcType="VARCHAR" property="codCoes" />
    <result column="COD_USUARIO_LIBRE_ANT" jdbcType="CHAR" property="codUsuarioLibreAnt" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMapDTO">
    select
      COD_USUARIO_LIBRE, RAZON_SOCIAL,DIRECCION, TELEFONO, NOMBRE_REP_LEGAL, CARGO_REP_LEG, TELEFONO_REP_LEG, CORREO_REP_LEG, ES_GRAN_CLIENTE, COD_COES, COD_USUARIO_LIBRE_ANT
    from ADMIN_GART.ADM_USUARIO_LIBRE
  </select>

  <select id="filtrar" parameterType="pe.gob.osinergmin.prie.admin.backend.dto.usuarioLibre.AdmUsuarioLibreSearchDTO" resultMap="BaseResultMapDTO">
    SELECT       COD_USUARIO_LIBRE, RAZON_SOCIAL,DIRECCION, TELEFONO, NOMBRE_REP_LEGAL, CARGO_REP_LEG, TELEFONO_REP_LEG, CORREO_REP_LEG, ES_GRAN_CLIENTE, COD_COES, COD_USUARIO_LIBRE_ANT
    FROM ADMIN_GART.ADM_USUARIO_LIBRE
    WHERE 1 = 1
    <if test="codUsuarioLibre != null and codUsuarioLibre != ''">
      AND UPPER(
      TRANSLATE(COD_USUARIO_LIBRE, 'ÁÉÍÓÚáéíóú', 'AEIOUaeiou')
      ) LIKE '%' || UPPER(
      TRANSLATE(#{codUsuarioLibre}, 'ÁÉÍÓÚáéíóú', 'AEIOUaeiou')
      ) || '%'
    </if>
    <if test="razonSocial != null and razonSocial != ''">
      AND UPPER(
      TRANSLATE(RAZON_SOCIAL, 'ÁÉÍÓÚáéíóú', 'AEIOUaeiou')
      ) LIKE '%' || UPPER(
      TRANSLATE(#{razonSocial}, 'ÁÉÍÓÚáéíóú', 'AEIOUaeiou')
      ) || '%'
    </if>
    <if test="sort != null and sort != '' and order != null and order != ''">
      ORDER BY ${sort} ${order}
    </if>
  </select>
</mapper>
