<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.osinergmin.prie.admin.backend.mapper.CfgTablaAdmMapper">
  <resultMap id="BaseResultMap" type="pe.gob.osinergmin.prie.admin.backend.domain.CfgTablaAdm">
    <!--@Table ADMIN_GART.CFG_TABLA_ADM-->
    <id column="COD_TABLA" jdbcType="VARCHAR" property="codTabla" />
    <result column="DESCRIPCION_TABLA" jdbcType="VARCHAR" property="descripcionTabla" />
    <result column="ESTADO_TABLA" jdbcType="CHAR" property="estadoTabla" />
    <result column="NOMBRE_CORTO" jdbcType="VARCHAR" property="nombreCorto" />
    <result column="FLAG_AUDITORIA" jdbcType="CHAR" property="flagAuditoria" />
  </resultMap>
  <sql id="Base_Column_List">
    COD_TABLA, DESCRIPCION_TABLA, ESTADO_TABLA, NOMBRE_CORTO, FLAG_AUDITORIA
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ADMIN_GART.CFG_TABLA_ADM
    where COD_TABLA = #{codTabla,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ADMIN_GART.CFG_TABLA_ADM
    where COD_TABLA = #{codTabla,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.CfgTablaAdm">
    insert into ADMIN_GART.CFG_TABLA_ADM (COD_TABLA, DESCRIPCION_TABLA, ESTADO_TABLA, 
      NOMBRE_CORTO, FLAG_AUDITORIA)
    values (#{codTabla,jdbcType=VARCHAR}, #{descripcionTabla,jdbcType=VARCHAR}, #{estadoTabla,jdbcType=CHAR}, 
      #{nombreCorto,jdbcType=VARCHAR}, #{flagAuditoria,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.CfgTablaAdm">
    insert into ADMIN_GART.CFG_TABLA_ADM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codTabla != null">
        COD_TABLA,
      </if>
      <if test="descripcionTabla != null">
        DESCRIPCION_TABLA,
      </if>
      <if test="estadoTabla != null">
        ESTADO_TABLA,
      </if>
      <if test="nombreCorto != null">
        NOMBRE_CORTO,
      </if>
      <if test="flagAuditoria != null">
        FLAG_AUDITORIA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codTabla != null">
        #{codTabla,jdbcType=VARCHAR},
      </if>
      <if test="descripcionTabla != null">
        #{descripcionTabla,jdbcType=VARCHAR},
      </if>
      <if test="estadoTabla != null">
        #{estadoTabla,jdbcType=CHAR},
      </if>
      <if test="nombreCorto != null">
        #{nombreCorto,jdbcType=VARCHAR},
      </if>
      <if test="flagAuditoria != null">
        #{flagAuditoria,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.CfgTablaAdm">
    update ADMIN_GART.CFG_TABLA_ADM
    <set>
      <if test="descripcionTabla != null">
        DESCRIPCION_TABLA = #{descripcionTabla,jdbcType=VARCHAR},
      </if>
      <if test="estadoTabla != null">
        ESTADO_TABLA = #{estadoTabla,jdbcType=CHAR},
      </if>
      <if test="nombreCorto != null">
        NOMBRE_CORTO = #{nombreCorto,jdbcType=VARCHAR},
      </if>
      <if test="flagAuditoria != null">
        FLAG_AUDITORIA = #{flagAuditoria,jdbcType=CHAR},
      </if>
    </set>
    where COD_TABLA = #{codTabla,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.gob.osinergmin.prie.admin.backend.domain.CfgTablaAdm">
    update ADMIN_GART.CFG_TABLA_ADM
    set DESCRIPCION_TABLA = #{descripcionTabla,jdbcType=VARCHAR},
      ESTADO_TABLA = #{estadoTabla,jdbcType=CHAR},
      NOMBRE_CORTO = #{nombreCorto,jdbcType=VARCHAR},
      FLAG_AUDITORIA = #{flagAuditoria,jdbcType=CHAR}
    where COD_TABLA = #{codTabla,jdbcType=VARCHAR}
  </update>

  <select id="getTablaByPK" resultMap="BaseResultMap">
    SELECT
    TRIM(COD_TABLA) AS COD_TABLA,
    DESCRIPCION_TABLA,
    ESTADO_TABLA,
    NOMBRE_CORTO,
    FLAG_AUDITORIA
    FROM ADMIN_GART.CFG_TABLA_ADM
    WHERE COD_TABLA = #{codTabla}
    </select>

  <select id="existeTabla" resultType="int">
    SELECT COUNT(1) FROM ADMIN_GART.CFG_TABLA_ADM WHERE COD_TABLA= #{codTabla}
  </select>

  <select id="obtenerTablasPermitidas" resultType="string">
    SELECT COD_TABLA FROM CFG_TABLA_ADM
  </select>

  <select id="seleccionarDesdeTabla" resultType="map">
    SELECT * FROM ADMIN_GART.${codTabla}
  </select>

  <insert id="insertarEnTablaDinamica">
    INSERT INTO ${codTabla}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <foreach collection="parametros" index="key" item="value" separator=",">
        ${key}
      </foreach>
    </trim>
    VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <foreach collection="parametros" index="key" item="value" separator=",">
        #{value}
      </foreach>
    </trim>
  </insert>

  <update id="actualizarEnTablaDinamica">
    UPDATE ${codTabla}
    <set>
      <foreach collection="parametros" index="key" item="value" separator=",">
        ${key} = #{value}
      </foreach>
    </set>
    WHERE
    <foreach collection="primaryKeyValues" index="key" item="value" separator=" AND ">
      TRIM(${key}) = TRIM(#{value})
    </foreach>
  </update>


  <resultMap id="BaseResultMapDTO" type="pe.gob.osinergmin.prie.admin.backend.dto.tabla.CfgTablaAdmDTO">
    <!--@Table ADMIN_GART.CFG_TABLA_ADM-->
    <id column="COD_TABLA" jdbcType="VARCHAR" property="codTabla" />
    <result column="NOMBRE_CORTO" jdbcType="VARCHAR" property="nombreCorto" />
  </resultMap>

  <select id="listarPorTabla" resultMap="BaseResultMapDTO">
    select
      COD_TABLA, NOMBRE_CORTO
    from ADMIN_GART.CFG_TABLA_ADM
  </select>

  <delete id="eliminarEnTablaDinamica">
    DELETE FROM ${codTabla}
    WHERE
    <foreach collection="primaryKeyValues" index="key" item="value" separator=" AND ">
      TRIM(${key}) = TRIM(#{value})
    </foreach>
  </delete>

  <select id="ejecutarConsultaDinamica" resultType="java.util.Map">
    ${sql}
  </select>

  <select id="getChildTables" parameterType="map" resultType="map">
    SELECT
    a.TABLE_NAME,
    a.COLUMN_NAME,
    a2.COLUMN_NAME AS PK_COLUMN_NAME
    FROM
    ALL_CONS_COLUMNS a
    JOIN
    ALL_CONSTRAINTS c ON a.CONSTRAINT_NAME = c.CONSTRAINT_NAME
    JOIN
    ALL_CONSTRAINTS c2 ON c.R_CONSTRAINT_NAME = c2.CONSTRAINT_NAME
    JOIN
    ALL_CONS_COLUMNS a2 ON c2.CONSTRAINT_NAME = a2.CONSTRAINT_NAME
    WHERE
    c.R_CONSTRAINT_NAME = (
    SELECT CONSTRAINT_NAME
    FROM ALL_CONSTRAINTS
    WHERE TABLE_NAME = UPPER(#{tableName})
    AND CONSTRAINT_TYPE = 'P'
    AND OWNER = UPPER(#{owner})
    )
    AND c.CONSTRAINT_TYPE = 'R'
  </select>

  <delete id="deleteByForeignKeyWithTrim">
    DELETE FROM ${tableName}
    WHERE
    <foreach collection="primaryKeyValues" index="key" item="value" separator=" AND ">
      TRIM(${key}) = TRIM(#{value})
    </foreach>
  </delete>
</mapper>